<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEDxITS 2023 Mail Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        @media only screen and (max-width: 576px) {
            table {
              width: 100% !important;
            }
        }
    </style>
</head>

<body style="background-color: #ededed">
    <table
        style="
        width: 40%;
        margin: auto;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        background-color: #010101;
        border-collapse: collapse;
      "
    >
        <tr>
            <td>
                <section style="padding: 2rem">
                    <img
                      src="cid:tedxits2023"
                      alt="TEDxITS Logo"
                      style="height: 80px; width: auto; margin: auto"
                    />

                    <h3 style="
                      margin-top: 1.5rem;
                      margin-bottom: 1.5rem;
                      font-size:1.5rem";
                      color: #ffffff;
                    >
                      Dear {{ name }},
                    </h3>

                    <p style="margin-bottom: 1rem; color: #ffffff; font-size:1rem">
                      We regret to inform you that we need to make an important update regarding the payment deadline for your TEDxITS ticket. Due to unforeseen circumstances, we have to change the payment deadline to <strong>21:00 WIB on 20 April 2023</strong>. This means that you will need to complete your payment before the new deadline to secure your spot for the event.
                    </p>

                    <p style="margin-bottom: 1rem; color: #ffffff; font-size:1rem">
                      We understand that this is a short notice and we sincerely apologize for any inconvenience caused. However, we hope that you can understand that this decision was made in order to ensure a smooth and successful event for all participants.
                    </p>

                    <p style="margin-bottom: 1rem; color: #ffffff; font-size:1rem">
                      If you are unable to make the payment before the new deadline, we regret to inform you that your ticket will be cancelled and made available for others to purchase.
                    </p>

                    <p style="margin-bottom: 1rem; color: #ffffff; font-size:1rem">
                      If you have any questions or concerns, please do not hesitate to contact us. We appreciate your understanding and cooperation in this matter.
                    </p>

                    <p style="margin-bottom: 1rem; color: #ffffff; font-size:1rem">
                      Thank you for your support and we look forward to seeing you at the TEDxITS event.
                    </p>
                    
                    <p style="margin-bottom: 1.5rem; color: #ffffff; font-size:1rem">
                      Best Regards,<br>
                      <span style="font-weight: bold;">TEDxITS Team</span>
                    </p>
                </td>
            </td>
        </tr>
    </table>
</body>

</html>