<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEDxITS 2023 Mail Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        @media only screen and (max-width: 576px) {
            table {
              width: 100% !important;
            }
        }
    </style>
</head>

<body style="background-color: #ededed">
    <table
        style="
        width: 40%;
        margin: auto;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        background-color: #010101;
        border-collapse: collapse;
      "
    >
        <tr>
            <td>
                <section style="padding: 2rem">
                    <img
                      src="cid:tedxits2023"
                      alt="TEDxITS Logo"
                      style="height: 80px; width: auto; margin: auto"
                    />

                    <h3 style="
                      margin-top: 1.5rem;
                      margin-bottom: 1.5rem;
                      font-size:1.5rem";
                      color: #ffffff;
                    >
                      Hi, Voyager
                    </h3>

                    <p                
                      style="font-weight: 500; margin-bottom: 2rem;color: #ffffff; font-size: 1.1rem;"
                    >
                      We received a request to reset your password for your TEDxITS account. To proceed, please click on the link below and enter your new password in the website.
                    </p>
                    
                    <div
                      style="
                        text-align: center;
                        margin-bottom: 2rem;
                        display: block !important;
                      "
                    >
                      <a
                        href="{{ link }}"
                        style="
                          color: #FFFF;
                          font-weight: 700;
                          background-color: #e83525;
                          padding: 0.75rem;
                          padding-left: 1rem;
                          padding-right: 1rem;
                          border: none;
                          border-radius: 0.5rem;
                          text-decoration: none;
                        "
                        >Click here to reset your password</a
                      >
                    </div>
                    
                    <p style="margin-bottom: 2rem; color: #ffffff; font-size:1rem">
                      If you did not request a password reset, please ignore this message.
                    </p>
                    
                    <p style="margin-bottom: 1.5rem; color: #ffffff; font-size:1rem">
                      Best Regards,<br>
                      <span style="font-weight: bold;">TEDxITS Team</span>
                    </p>
                </td>
            </td>
        </tr>
    </table>
</body>

</html>